html {
  background-color: black;
  background: url("https://i.ibb.co/ryX3RqH/Blackboard-Background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Stint Ultra Expanded', cursive;
  color: whitesmoke;
  text-align: center;
  font-size: 5vh;
  margin: 20px auto;
}

h2 {
  font-family: 'Stint Ultra Expanded', cursive;
  color: whitesmoke;
  text-align: center;
  font-size: 2vh;
  margin: 2px auto
}